@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ededed;
  --muted: #666666;
  --border: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-mono);
  --font-mono: var(--font-roboto-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono), monospace;
  line-height: 1.6;
}
